<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<!-- Modal -->
<div class="modal fade" id="RegistrationModal" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Greek Culture & Literacy</b></div>
        <div id="division"><b>Division:</b> LANG</div>
        <div id="subject"><b>Subject:</b> GRK</div>
        <div id="course"><b>Course #:</b> 201</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Jon Vlahos</div>
        <div id="meetingDays"><b>Meeting Days:</b> MWF</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 12-1:15</div>
        <div id="courseDescription"><b>Course Description:</b> Explores significant cultural expressions from the Greek-speaking world. Emphasizes both the development of competence in speaking, reading and writing Greek, and understanding how particular Greek societies have defined themselves.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Division</th>
      <th>Subject</th>
      <th>Course</th>
      <th>Hours</th>
      <th>CRN</th>
      <th>Instructor</th>
      <th>Meeting Days</th>
      <th>Meeting Times</th>
      <th>Grade Mode</th>
      <th>Status</th>
      <th>Current Capacity</th>
      <th>Max. Capacity</th>
      <th>Waitlist</th>
      <th>Waitlist Max</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>28</th>
      <td><a href="#RegistrationModal" data-toggle="modal" data-target="#RegistrationModal"> Greek Culture &amp; Literacy</a></td>
      <td>LANG</td>
      <td>GRK</td>
      <td>201</td>
      <td>3</td>
      <td>83259</td>
      <td>Jon Vlahos</td>
      <td>MWF</td>
      <td>12-1:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Greek-speaking world. Emphasizes both the development of competence in speaking, reading and writing Greek, and understanding how particular Greek societies have defined themselves.</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Arabic Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>ARB</td>
      <td>201</td>
      <td>3</td>
      <td>45829</td>
      <td>Jon Jani</td>
      <td>MWF</td>
      <td>3:30-4:45</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Arabic-speaking world. Emphasizes both the development of competence in speaking, reading and writing Arabic, and understanding how particular Arabic societies have defined themselves.</td>
    </tr>
    <tr>
      <th>30</th>
      <td>French Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>FRE</td>
      <td>210</td>
      <td>3</td>
      <td>93754</td>
      <td>Monsiuer</td>
      <td>MWF</td>
      <td>5-6:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the French-speaking world. Emphasizes both the development of competence in speaking, reading and writing French, and understanding how particular French societies have defined themselves.</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Italian Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>ITA</td>
      <td>212</td>
      <td>3</td>
      <td>38590</td>
      <td>Centofanti</td>
      <td>MWF</td>
      <td>12-1:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Italian-speaking world. Emphasizes both the development of competence in speaking, reading and writing Italian, and understanding how particular Italian societies have defined themselves.</td>
    </tr>
    <tr>
      <th>32</th>
      <td>German Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>GER</td>
      <td>212</td>
      <td>3</td>
      <td>84972</td>
      <td>Heill</td>
      <td>MWF</td>
      <td>3:30-4:45</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the German-speaking world. Emphasizes both the development of competence in speaking, reading and writing German, and understanding how particular German societies have defined themselves.</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Hindi-Urdu Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>HDI</td>
      <td>201</td>
      <td>3</td>
      <td>85798</td>
      <td>Ghandi</td>
      <td>MWF</td>
      <td>12-1:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Hindi-speaking world. Emphasizes both the development of competence in speaking, reading and writing Hindi-Urdu, and understanding how particular Hindi societies have defined themselves.</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Japanese Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>JAP</td>
      <td>210</td>
      <td>3</td>
      <td>64848</td>
      <td>Mustafa</td>
      <td>MWF</td>
      <td>3:30-4:45</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Japanese-speaking world. Emphasizes both the development of competence in speaking, reading and writing Japanese, and understanding how particular Japanese societies have defined themselves.</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Spanish Culture &amp; Literacy</td>
      <td>LANG</td>
      <td>SPA</td>
      <td>212</td>
      <td>3</td>
      <td>20974</td>
      <td>Rodrigues</td>
      <td>MWF</td>
      <td>12-1:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>23</td>
      <td>25</td>
      <td>0</td>
      <td>10</td>
      <td>Explores significant cultural expressions from the Spanish-speaking world. Emphasizes both the development of competence in speaking, reading and writing Spanish, and understanding how particular Hispanic societies have defined themselves.</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Lifestyles and Health</td>
      <td>HES</td>
      <td>HES</td>
      <td>100</td>
      <td>3</td>
      <td>83474</td>
      <td>Milton</td>
      <td>TR</td>
      <td>3:30-4:45</td>
      <td>Letter</td>
      <td>Open</td>
      <td>35</td>
      <td>45</td>
      <td>0</td>
      <td>10</td>
      <td>A lecture course that deals with the effect of lifestyle behaviors on various health outcomes, including cardiovascular disease, cancer, and sexually-transmitted diseases.</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Exercise for Health and Sports</td>
      <td>HES</td>
      <td>HES</td>
      <td>101</td>
      <td>3</td>
      <td>93244</td>
      <td>Merr</td>
      <td>TR</td>
      <td>12-1:15</td>
      <td>Letter</td>
      <td>Open</td>
      <td>35</td>
      <td>45</td>
      <td>0</td>
      <td>10</td>
      <td>A laboratory course on physical fitness that covers weight control, cardiovascular endurance, muscular strength, and flexibility.</td>
    </tr>
  </tbody>
</table>