<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRN</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>28</th>
      <td>83259</td>
      <td>Greek Culture &amp; Literacy</td>
      <td>GRK</td>
      <td>201</td>
    </tr>
    <tr>
      <th>29</th>
      <td>45829</td>
      <td>Arabic Culture &amp; Literacy</td>
      <td>ARB</td>
      <td>201</td>
    </tr>
    <tr>
      <th>30</th>
      <td>93754</td>
      <td>French Culture &amp; Literacy</td>
      <td>FRE</td>
      <td>210</td>
    </tr>
    <tr>
      <th>31</th>
      <td>38590</td>
      <td>Italian Culture &amp; Literacy</td>
      <td>ITA</td>
      <td>212</td>
    </tr>
    <tr>
      <th>32</th>
      <td>84972</td>
      <td>German Culture &amp; Literacy</td>
      <td>GER</td>
      <td>212</td>
    </tr>
    <tr>
      <th>33</th>
      <td>85798</td>
      <td>Hindi-Urdu Culture &amp; Literacy</td>
      <td>HDI</td>
      <td>201</td>
    </tr>
    <tr>
      <th>34</th>
      <td>64848</td>
      <td>Japanese Culture &amp; Literacy</td>
      <td>JAP</td>
      <td>210</td>
    </tr>
    <tr>
      <th>35</th>
      <td>20974</td>
      <td>Spanish Culture &amp; Literacy</td>
      <td>SPA</td>
      <td>212</td>
    </tr>
    <tr>
      <th>36</th>
      <td>83474</td>
      <td>Lifestyles and Health</td>
      <td>HES</td>
      <td>100</td>
    </tr>
    <tr>
      <th>37</th>
      <td>93244</td>
      <td>Exercise for Health and Sports</td>
      <td>HES</td>
      <td>101</td>
    </tr>
  </tbody>
</table>