<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<div class="modal fade" id="RegistrationModalMST117" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Discrete Math</b></div>
        <div id="division"><b>Division:</b> 5</div>
        <div id="subject"><b>Subject:</b> MST</div>
        <div id="course"><b>Course #:</b> 117</div>
        <div id="hours"><b>Hours:</b> 4</div>
        <div id="instructor"><b>Instructor:</b> Dr. Moore</div>
        <div id="meetingDays"><b>Meeting Days:</b> MWF</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 2:00-2:50</div>
        <div id="courseDescription"><b>Course Description:</b> Introduction to various topics in discrete mathematics applicable to computer science including sets, relations, Boolean algebra, propositional logic, functions, computability, proof techniques, graph theory, and elementary combinatorics.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC201" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Data Structures and Algorithms</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 201</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Jennifer Burg</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 3:30-4:45</div>
        <div id="courseDescription"><b>Course Description:</b> A study of fundamental data structures and the algorithms that act upon them. Data structure topics include the application, implementation, and complexity analysis of trees, hash tables, heaps, maps, sets, and graphs. Algorithmic topics include advanced sorting and searching methods and an introduction to divide-and-conquer and greedy techniques, graph algorithms, backtracking, and dynamic programming.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC231" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Programming Languages</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 231</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Elizabeth Wood</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 12:30-1:45</div>
        <div id="courseDescription"><b>Course Description:</b> Comparative study of programming language paradigms, including imperative languages, functional programming, logic programming, and object-oriented programming. Syntax, semantics, parsing, grammars, and issues in language design are covered.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC250" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Computer Systems I</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 250</div>
        <div id="hours"><b>Hours:</b> 4</div>
        <div id="instructor"><b>Instructor:</b> Pete Santago</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 12:30-1:45</div>
        <div id="courseDescription"><b>Course Description:</b> Study of computer system mechanisms supporting program execution, with a focus on mapping programs to underlying hardware. Topics include data representation, assembly language, processor architecture, and the memory system, with an introduction to system-level programming.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC251" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Computer Systems II</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 251</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Ryan Birkedale</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 1:30-2:45</div>
        <div id="courseDescription"><b>Course Description:</b> Study of computer system mechanisms supporting program execution, with a focus on process and resource management. Topics include process control, virtual memory, concurrency, parallelism, file-based and network-based I/O, and additional coverage of system-level programming.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC301" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Algorithm Design and Analysis II</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 301</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Grey Ballard</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 2:00-3:15</div>
        <div id="courseDescription"><b>Course Description:</b> A study of techniques for designing algorithms, analyzing their time and space complexity, and demonstrating their correctness. The algorithm design techniques include divide-and-conquer, greedy algorithms, dynamic programming, randomized algorithms, string processing algorithms, and parallel algorithms. The algorithm analysis includes computational models, best/average/worst case analysis, and computational complexity (including lower bounds and NP-completeness).</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC321" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Database Management Systems</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 321</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Steven Parrill</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 9:00-10:15</div>
        <div id="courseDescription"><b>Course Description:</b>Introduction to database management systems. Topics include data independence, database models, query languages, security, integrity, and transactions.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC341" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Operating Systems</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 341</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Daniel Canas</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 2:30-3:45</div>
        <div id="courseDescription"><b>Course Description:</b>Study of the different modules that compose a modern operating system. In-depth study of concurrency, processor management, memory management, file management, and security.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC346" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Parallel Computation</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 346</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Pete Santago</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 8:00-9:15</div>
        <div id="courseDescription"><b>Course Description:</b> Study of techniques for parallel and high performance computing. Topics include an overview of modern high-performance computer design, pipelining, concurrency, data dependency, shared memory, message passing, and graphics processors. Select parallel algorithms and methods for asymptotic scalability analysis are also presented. Assignments may include coding with OpenMP, MPI, and the CUDA library.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC348" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Computer Security</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 348</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Sarra Alqatahni</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 2:00-3:15</div>
        <div id="courseDescription"><b>Course Description:</b> Introduction to computer security concepts and associated theory. Detailed coverage of the core concepts of access control, cryptography, trusted computing bases, digital signatures, authentication, network security, and secure architectures. Legal issues, security policies, risk management, certification and accreditation are covered in their supporting roles. Students will learn to analyze, design, and build secure systems of moderate complexity.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC373" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Data Mining</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 373</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Natalia Khuri</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 8:00-9:15</div>
        <div id="courseDescription"><b>Course Description:</b> An overview of data mining methods and algorithms for classification, association analysis, clustering,and anomaly detection. A major focus will be on the implementation of algorithms for and design and construction of solutions to data mining problems. Applications and ethical considerations of data mining in humanities, arts, and healthcare are discussed.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC374" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Machine Learning</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 374</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Victor Pauca</div>
        <div id="meetingDays"><b>Meeting Days:</b> TR</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 12:30-1:45</div>
        <div id="courseDescription"><b>Course Description:</b> An introduction to concepts and application of machine learning algorithms and techniques, focusing on supervised and unsupervised learning. Students learn the theoretical concepts behind several types of machine learning algorithms and gain practical experience applying them. Algorithms covered could include logistic regression, support vector machines, regularization, dimensional reduction, clustering, and neural networks.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC375" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Deep Learning & Neural Networks</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 375</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Victor Pauca</div>
        <div id="meetingDays"><b>Meeting Days:</b> MW</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 2:00-3:15</div>
        <div id="courseDescription"><b>Course Description:</b> An introduction to concepts and applications of neural networks and deep learning, a branch of machine learning that uses additional layers of high-level representations of data to maximize performance on a given task. The topics covered may include basic neural networks, deep neural networks, and convolutional and recurrent neural networks. Students learn the theoretical concepts behind several types of neural network algorithms and gain practical experience applying them.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC385" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>BioInformatics</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 385</div>
        <div id="hours"><b>Hours:</b> 3</div>
        <div id="instructor"><b>Instructor:</b> Errin Fulp</div>
        <div id="meetingDays"><b>Meeting Days:</b> MWF</div>
        <div id="meetingTimes"><b>Meeting Time:</b> 9:00-9:50</div>
        <div id="courseDescription"><b>Course Description:</b> Introduction to computational approaches essential to modern biological inquiry. Approaches may include large biological dataset analyses, sequence similarity and motif searches, and analysis of high-throughput genomic technologies. Emphasizes interdisciplinary interaction and communication. Also listed as PHY 385 and BIO 385.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RegistrationModalCSC399" tabindex="-1" role="dialog" aria-labelledby="RegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegistrationModalLabel">Registration Portal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="courseTitle"><b>Computer Science Mastery Exam</b></div>
        <div id="division"><b>Division:</b> CSC</div>
        <div id="subject"><b>Subject:</b> CSC</div>
        <div id="course"><b>Course #:</b> 399</div>
        <div id="hours"><b>Hours:</b> 0</div>
        <div id="instructor"><b>Instructor:</b> </div>
        <div id="meetingDays"><b>Meeting Days:</b> </div>
        <div id="meetingTimes"><b>Meeting Time:</b> </div>
        <div id="courseDescription"><b>Course Description:</b> Evaluation of student mastery of core topics in the computer science discipline through standardized testing. Taken during the senior year. Pass/Fail.</div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Register!</button>
      </div>
    </div>
  </div>
</div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRN</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>229789</td>
      <td><a href="#RegistrationModalMST117" data-toggle="modal" data-target="#RegistrationModalMST117"> Discrete Math</a></td>
      <td>MST</td>
      <td>117</td>
    </tr>
    <tr>
      <th>2</th>
      <td>483909</td>
      <td><a href="#RegistrationModalCSC201" data-toggle="modal" data-target="#RegistrationModalCSC201"> Data Structures and Algorithms</a></td>
      <td>CSC</td>
      <td>201</td>
    </tr>
    <tr>
      <th>4</th>
      <td>182921</td>
      <td><a href="#RegistrationModalCSC231" data-toggle="modal" data-target="#RegistrationModalCSC231"> Programming Languages</a></td>
      <td>CSC</td>
      <td>231</td>
    </tr>
    <tr>
      <th>3</th>
      <td>502039</td>
      <td><a href="#RegistrationModalCSC250" data-toggle="modal" data-target="#RegistrationModalCSC250"> Computer Systems I</a></td>
      <td>CSC</td>
      <td>250</td>
    </tr>
    <tr>
      <th>5</th>
      <td>895833</td>
      <td><a href="#RegistrationModalCSC251" data-toggle="modal" data-target="#RegistrationModalCSC251"> Computer Systems II</a></td>
      <td>CSC</td>
      <td>251</td>
    </tr>
    <tr>
      <th>7</th>
      <td>483920</td>
      <td><a href="#RegistrationModalCSC301" data-toggle="modal" data-target="#RegistrationModalCSC301"> Algorithm Design and Analysis II</a></td>
      <td>CSC</td>
      <td>301</td>
    </tr>
    <tr>
      <th>5</th>
      <td>582049</td>
      <td><a href="#RegistrationModalCSC321" data-toggle="modal" data-target="#RegistrationModalCSC321"> Database Management Systems</a></td>
      <td>CSC</td>
      <td>321</td>
    </tr>
    <tr>
      <th>6</th>
      <td>583950</td>
      <td><a href="#RegistrationModalCSC341" data-toggle="modal" data-target="#RegistrationModalCSC341"> Operating Systems</a></td>
      <td>CSC</td>
      <td>341</td>
    </tr>
    <tr>
      <th>7</th>
      <td>839205</td>
      <td><a href="#RegistrationModalCSC346" data-toggle="modal" data-target="#RegistrationModalCSC346"> Parallel Computation</a></td>
      <td>CSC</td>
      <td>346</td>
    </tr>
    <tr>
      <th>8</th>
      <td>582050</td>
      <td><a href="#RegistrationModalCSC348" data-toggle="modal" data-target="#RegistrationModalCSC348"> Computer Security</a></td>
      <td>CSC</td>
      <td>348</td>
    </tr>
    <tr>
      <th>2</th>
      <td>213444</td>
      <td><a href="#RegistrationModalCSC373" data-toggle="modal" data-target="#RegistrationModalCSC373"> Data Mining</a></td>
      <td>CSC</td>
      <td>373</td>
    </tr>
    <tr>
      <th>3</th>
      <td>829182</td>
      <td><a href="#RegistrationModalCSC374" data-toggle="modal" data-target="#RegistrationModalCSC374"> Machine Learning</a></td>
      <td>CSC</td>
      <td>374</td>
    </tr>
    <tr>
      <th>1</th>
      <td>421223</td>
      <td><a href="#RegistrationModalCSC375" data-toggle="modal" data-target="#RegistrationModalCSC375"> Deep Learning &amp; Neural Networks</a></td>
      <td>CSC</td>
      <td>375</td>
    </tr>
    <tr>
      <th>4</th>
      <td>918281</td>
      <td><a href="#RegistrationModalCSC385" data-toggle="modal" data-target="#RegistrationModalCSC385"> BioInformatics</a></td>
      <td>CSC</td>
      <td>385</td>
    </tr>
    <tr>
      <th>6</th>
      <td>272821</td>
      <td><a href="#RegistrationModalCSC399" data-toggle="modal" data-target="#RegistrationModalCSC399"> Computer Science Mastery Exam</a></td>
      <td>CSC</td>
      <td>399</td>
    </tr>
  </tbody>
</table>
