<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRN</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>229789</td>
      <td>Discrete Math</td>
      <td>MST</td>
      <td>117</td>
    </tr>
    <tr>
      <th>2</th>
      <td>483909</td>
      <td>Data Structures and Algorithms</td>
      <td>CSC</td>
      <td>201</td>
    </tr>
    <tr>
      <th>4</th>
      <td>182921</td>
      <td>Programming Languages</td>
      <td>CSC</td>
      <td>231</td>
    </tr>
    <tr>
      <th>3</th>
      <td>502039</td>
      <td>Computer Systems I</td>
      <td>CSC</td>
      <td>250</td>
    </tr>
    <tr>
      <th>5</th>
      <td>895833</td>
      <td>Computer Systems II</td>
      <td>CSC</td>
      <td>251</td>
    </tr>
    <tr>
      <th>7</th>
      <td>483920</td>
      <td>Algorithm Design and Analysis</td>
      <td>CSC</td>
      <td>301</td>
    </tr>
    <tr>
      <th>5</th>
      <td>582049</td>
      <td>Database Management Systems</td>
      <td>CSC</td>
      <td>321</td>
    </tr>
    <tr>
      <th>6</th>
      <td>583950</td>
      <td>Operating Systems</td>
      <td>CSC</td>
      <td>341</td>
    </tr>
    <tr>
      <th>7</th>
      <td>839205</td>
      <td>Parallel Computation</td>
      <td>CSC</td>
      <td>346</td>
    </tr>
    <tr>
      <th>8</th>
      <td>582050</td>
      <td>Computer Security</td>
      <td>CSC</td>
      <td>348</td>
    </tr>
    <tr>
      <th>2</th>
      <td>213444</td>
      <td>Data Mining</td>
      <td>CSC</td>
      <td>373</td>
    </tr>
    <tr>
      <th>3</th>
      <td>829182</td>
      <td>Machine Learning</td>
      <td>CSC</td>
      <td>374</td>
    </tr>
    <tr>
      <th>1</th>
      <td>421223</td>
      <td>Deep Learning &amp; Neural Networks</td>
      <td>CSC</td>
      <td>375</td>
    </tr>
    <tr>
      <th>4</th>
      <td>918281</td>
      <td>Bioinformatics</td>
      <td>CSC</td>
      <td>385</td>
    </tr>
    <tr>
      <th>6</th>
      <td>272821</td>
      <td>Computer Science Mastery Exam</td>
      <td>CSC</td>
      <td>399</td>
    </tr>
  </tbody>
</table>