{% extends 'base.html' %}
{% block head %}
<title>Divisionals</title>
{% endblock %}

{% block body %}
<h1>Select a Division for Registration</h1>

<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>DegreeWorks</h1>
        <p>
          This is some sample text about class scheduling.
        </p>
        <p>
          <a class="btn btn-primary" href="/humanities" role="button">Division 1: Humanities</a>
        </p>
      </div>
    </div>
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>DegreeWorks</h1>
        <p>
          <a class="btn btn-primary" href="/fineArts" role="button">Division 2: Fine Arts</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
