<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRN</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>22</th>
      <td>234908</td>
      <td>Calculus 1</td>
      <td>MST</td>
      <td>111</td>
    </tr>
    <tr>
      <th>23</th>
      <td>167233</td>
      <td>Calculus 2</td>
      <td>MST</td>
      <td>112</td>
    </tr>
    <tr>
      <th>24</th>
      <td>509881</td>
      <td>Linear Algebra</td>
      <td>MST</td>
      <td>121</td>
    </tr>
    <tr>
      <th>27</th>
      <td>229789</td>
      <td>Discrete Math</td>
      <td>MST</td>
      <td>117</td>
    </tr>
  </tbody>
</table>