<html lang="en">
<head>
<style>
   th {background-color: #b38600;
       color: #white
       font-family: helvetica;
       font-size: 15pt;
   }
   tr {
       background-color: #cce6ff;
       font-color: #ffffff
       font-family: helvetica;
       font-size: 12pt;
       margin: 4 px;
   }
</style>
</head>
<body>
    <img src = "https://prod.wp.cdn.aws.wfu.edu/sites/73/2017/04/WFU_Univ_H_RGB.gif" height= "100" width= "350">
    <h3 style = "color: #336699; text-align: center; font-family: helvetica">DegreeWorks</h3>
    <table style = "border:1px solid black; margin-left: 200; margin-right: 100">
        <th colspan="4" style = "text-align: left; font-family: helvetica; color: white">Student View</th>
        <tr>
            <td>Student</td><td style = "background-color: #f2f2f2;">Wood, Elizabeth Maddox</td>
            <td>Level</td><td style = "background-color: #f2f2f2;">Undergraduate</td>
        </tr>
        <tr>
            <td>ID</td><td style = "background-color: #f2f2f2;">06528149</td>
            <td>Degree</td><td style = "background-color: #f2f2f2;">Bachelors of Science</td>
        </tr>
        <tr>
            <td>Gender</td><td style = "background-color: #f2f2f2;">F</td>
            <td>College</td><td style = "background-color: #f2f2f2;">School of Arts and Sciences</td>
        </tr>
        <tr>
            <td>Classification</td><td style = "background-color: #f2f2f2;">Senior</td>
            <td>Major</td><td style = "background-color: #f2f2f2;">Computer Science (BS)</td>
        </tr>
        <tr>
            <td>Advisors</td><td style = "background-color: #f2f2f2;">Turkett, William H <br> Bardon, Adrian </td>
            <td>Minor</td><td style = "background-color: #f2f2f2;">Philosophy</td>
        </tr>
        <tr>
            <td>Cumulative GPA</td><td style = "background-color: #f2f2f2;">3.851</td>
            <td>Concentration</td><td style = "background-color: #f2f2f2;">No Concentration Listed</td>
        </tr>
        <tr>
            <td>Hours Completed</td><td style = "background-color: #f2f2f2;">95</td>
            <td>Certificates</td><td style = "background-color: #f2f2f2;"></td>
        </tr>
        <tr>
            <td>Alternative Pin</td><td style = "background-color: #f2f2f2;">See Advisor</td>
            <td>Applied for Graduation</td><td style = "background-color: #f2f2f2;">Yes</td>
        </tr>
        <tr>
            <td>Admit Term</td><td style = "background-color: #f2f2f2;">201780</td>
            <td>Expected Grad Date</td><td style = "background-color: #f2f2f2;">17-MAY-21</td>
        </tr>
    </table>
</body>
</html>