<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CRN</th>
      <th>Title</th>
      <th>Subject</th>
      <th>Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>18</th>
      <td>182721</td>
      <td>Introductory Psychology</td>
      <td>PSY</td>
      <td>151</td>
    </tr>
    <tr>
      <th>19</th>
      <td>918291</td>
      <td>Developmental Psychology</td>
      <td>PSY</td>
      <td>241</td>
    </tr>
    <tr>
      <th>20</th>
      <td>338192</td>
      <td>Public Speaking</td>
      <td>COM</td>
      <td>110</td>
    </tr>
    <tr>
      <th>21</th>
      <td>129922</td>
      <td>Introduction to FIlm and Media Aestethics</td>
      <td>COM</td>
      <td>120</td>
    </tr>
  </tbody>
</table>