<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Division</th>
      <th>Subject</th>
      <th>Course</th>
      <th>Hours</th>
      <th>CRN</th>
      <th>Instructor</th>
      <th>Meeting Days</th>
      <th>Meeting Times</th>
      <th>Grade Mode</th>
      <th>Status</th>
      <th>Current Capacity</th>
      <th>Max. Capacity</th>
      <th>Waitlist</th>
      <th>Waitlist Max</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>18</th>
      <td>Introductory Psychology</td>
      <td>4</td>
      <td>PSY</td>
      <td>151</td>
      <td>3</td>
      <td>182721</td>
      <td>John Greene</td>
      <td>MWF</td>
      <td>12:00-12:50</td>
      <td>letter</td>
      <td>Open</td>
      <td>14</td>
      <td>24</td>
      <td>0</td>
      <td>10</td>
      <td>A systematic survey of psychology as the scientific study of behavior. Prerequisite to all courses of a higher number.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Developmental Psychology</td>
      <td>4</td>
      <td>PSY</td>
      <td>241</td>
      <td>3</td>
      <td>918291</td>
      <td>Sam Wilson</td>
      <td>TR</td>
      <td>9:30-10:45</td>
      <td>letter</td>
      <td>Open</td>
      <td>28</td>
      <td>28</td>
      <td>6</td>
      <td>10</td>
      <td>Surveys physical, emotional, cognitive, and social development in humans from conception to death.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Public Speaking</td>
      <td>4</td>
      <td>COM</td>
      <td>110</td>
      <td>3</td>
      <td>338192</td>
      <td>Amanda Harris</td>
      <td>MWF</td>
      <td>3:00-3:50</td>
      <td>letter</td>
      <td>Open</td>
      <td>12</td>
      <td>16</td>
      <td>0</td>
      <td>2</td>
      <td>A study of the theory and practice of public address. Lab experiences in the preparation, delivery, and critique of informative and persuasive speeches.</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Introduction to FIlm and Media Aestethics</td>
      <td>4</td>
      <td>COM</td>
      <td>120</td>
      <td>3</td>
      <td>129922</td>
      <td>Trent Williams</td>
      <td>TR</td>
      <td>8:00-9:15</td>
      <td>letter</td>
      <td>Open</td>
      <td>18</td>
      <td>18</td>
      <td>2</td>
      <td>2</td>
      <td>Introduction to the major theories and aesthetics of motion pictures and other media forms through a study of styles related to writing, directing, cinematography, editing, and sound.</td>
    </tr>
  </tbody>
</table>